//fonts
$gotham-Bold1: 'gothambold1';
$gotham-Medium: 'gothammedium';

//colors
$white: #fff;
$text-dark: #2c4058;
$text-gray: #4b5562;
$text-blue: #55b7ff;

//breakpoints
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;